body {
  font: normal 12px/14px Helvetica, Verdana, Arial;
  color: #333;
  overflow-y: visible;
  h2 {
    font: normal small-caps bold 12px/14px Helvetica, Verdana, Arial;
    display: inline;
    float: left;
    margin: 0 20px 0 0;
  }
}