body {
  font: normal 12px/14px Helvetica, Verdana, Arial;
  color: #333;
}

.key-categories {
  margin: 0 0 15px 0;
  font: normal small-caps bold 12px/14px Helvetica, Verdana, Arial;
  span {
    background: #000;
    color: white;
    padding: 0 0 2px 8px;

    i {
      cursor: pointer;
      background: #555;
      padding: 0 5px;
      margin: 0 0 0 8px;
      box-shadow: 1px -1px 2px 0px #000;
      border: solid 1px #000;
      &:hover {
        background: white;
        color: #555;
         border: solid 1px #CCC;
      }
    }

  }
}

.article {
  margin: 15px 0 0 0;
  padding: 10px;
  border: solid 1px #000;
  width: 500px;
}