#labeller {
  width: 150px;
  position: absolute;
  z-index: 9;
  text-decoration: none;
  background-color: #AAFFAA;
  font-family: Arial;
  font-weight: bold;
}

.article {
  padding: 10px;
  height: auto;
  width: 600px;
  overflow-y: auto;
  word-wrap: break-word;
  font-family: Arial;
  padding-bottom: 60px;
  border: solid 1px #DDD;
}

.essay {
  float:left;
  padding: 10px 0 0 20px;
}

.graph {
  margin-top: 20px;
}

.option {
  cursor: pointer;
  padding: 5px 0 5px 5px;
  width: inherit;
  height: inherit;
  display:block;

  &:hover {
    background-color: grey;
  }
}

.tally {
  padding: 10px;
}

.red {
  background-color: #33aaaa;
  color: #FFFFFF;
}

.green {
  background-color: green;
  color: #EEEEEE;
}

.yellow {
  background-color: yellow;
  color: #000000;
}